.chat-board {
    
    height: 58em;
    width: 87em;
    align-self: center;
    display: flex;
    margin-top: 1em;
    background-color: white;
    -webkit-box-shadow: 0px 0px 29px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -13px rgba(0,0,0,0.75);
}