.message {
    padding:0.01em 1em 0.01em 1em;
    width: fit-content;
    max-width: 600px;
    background-color: white;
    border-radius: 0 16px 16px 16px;
    font-size: 14px;
    margin:1em;
    margin-left: 5em;
    margin-right: auto;
    font-family: 'Roboto';
    color: gray;
}

.username-message {
    color:#0275d8;
    margin-top:7px;
}

.message-self {
    width: fit-content;
    max-width: 600px;
    padding:0.01em 1em 0.01em 1em;
    background-color: lightgray;
    border-radius: 16px 0 16px 16px;
    font-size: 14px;
    margin:1em;
    margin-right: 5em;
    margin-left: auto;
    font-family: 'Roboto';
    color: gray;
}